---
permalink: /projects/
---
{% include "partials/list.njk" %}
{% set pageTitle = "Projects" %}
{% set pageSubtitle = "Demo content from JSON files, built by Eleventy." %}
{% set items = collections.projects %}
