---
permalink: /tools/
---
{% include "partials/list.njk" %}
{% set pageTitle = "Tools" %}
{% set pageSubtitle = "Includes a structured ETA-style assessment block." %}
{% set items = collections.tools %}
